<!-- <div class="search">
  <form>
    <input type="text" placeholder="Search city">
  </form>
</div> -->


<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot-landscape.jpg" *ngIf="weatherData.current.temp_c >= 15" >
    <img src="../assets/cold-landscape.jpg"*ngIf="weatherData.current.temp_c <15">

    <div class="weather-data">
      <div class="location">London</div>
      <div class="temperature">{{weatherData.current.temp_c| number: '1.0-0' }}°C</div>
    </div>
    


  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind-icon.svg" alt="">
          
        </div>
        <div class="info-block-value">
          {{weatherData.current.wind_kph | number: '1.0-0'}} km/h
        </div>
        <span>Wind Speed</span>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/arrow-icon.svg" alt="" [ngStyle]="{'transform': 'rotate('+weatherData.current.wind_degree+'deg)'}">
          <!-- <span>Wind Direction</span> -->
        </div>
        <div class="info-block-value">
          {{weatherData.current.wind_dir}} - {{weatherData.current.wind_degree}}
        </div>
        <span > Wind Direction </span>
      </div>


      
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity-icon.svg" alt="">
          
        </div>
        <div class="info-block-value">
          {{weatherData.current.humidity}}%
        </div>
        <span>Humidity</span>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/eye-icon.svg" alt="">
          
        </div>
        <div class="info-block-value">
          {{weatherData.current.vis_km}} km
        </div>
        <span>Visibility</span>
      </div>

      

    </div>
  </div>

</div>
<router-outlet></router-outlet> 



<!-- 
<div class="container" *ngIf="!weatherData">
  <div class="upper-data">
    <img src="../assets/hot-landscape.jpg" >
    <img src="../assets/cold-landscape.jpg">

    <div class="weather-data">
      <div class="location">London</div>
      <div class="temperature">{{14.40 | number: '1.0-0' }}°C</div>
    </div>



  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/eye-icon.svg" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max-temperature-icon.svg" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          30°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity-icon.svg" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          99%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind-icon.svg" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          100 km/h
        </div>
      </div>

    </div>
  </div>

</div>
<router-outlet></router-outlet> -->